build --cxxopt='-std=c++23'
build --cxxopt='-g'

build --cxxopt=-Wall

build --action_env=CC=/usr/bin/clang-21
build --action_env=CXX=/usr/bin/clang++-21

build:opt --compilation_mode=opt
build:opt --copt=-O3

# https://bazel.build/configure/best-practices#bazelrc-file
try-import %workspace%/user.bazelrc
